<div class="container mt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-auto">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-5" role="group" aria-label="Dropdown com intervalo de salário">
          <button id="btnGroupDropSalary" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Salário Base
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDropSalary">
            <li>
              <div class="dropdown-item">
                <form action="<%= positions_path %>" method="get">
                  <div class="mb-3">
                    <label for="minSalary" class="form-label">Salário Mínimo</label>
                    <input type="number" class="form-control" id="minSalary" name="min_salary" placeholder="Ex: 3000" min="0" value="<%= params[:min_salary] %>">
                  </div>
                  <div class="mb-3">
                    <label for="maxSalary" class="form-label">Salário Máximo</label>
                    <input type="number" class="form-control" id="maxSalary" name="max_salary" placeholder="Ex: 100000" min="0" value="<%= params[:max_salary] %>">
                  </div>
                  <input type="hidden" name="department_id" value="<%= params[:department_id] %>">
                  <input type="hidden" name="sort_order" value="<%= params[:sort_order] %>">
                  <button type="button" class="btn btn-danger" onclick="window.location.href='/positions';">
                    Apagar
                  </button>
                  <button type="submit" class="btn btn-primary">Aplicar</button>
                </form>
              </div>
            </li>
          </ul>
        </div>

        <div class="btn-group me-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-primary custom-margin-left">
            <%= link_to "Adicionar Cargo", new_position_path, class: "plain-link"%>
          </button>
        </div>
        <div class="btn-group" role="group" aria-label="Dropdown de Departamentos">
          <button id="btnGroupDropDepartment" type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag "filtro.png", alt: "Filtro", class: "img-fluid" %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDropDepartment">
            <li>
              <%= link_to 'Todos', positions_path(min_salary: params[:min_salary], max_salary: params[:max_salary]), class: 'dropdown-item' %>
            </li>
            <% current_user.departments.each do |department| %>
              <li>
                <%= link_to department.name, positions_path(department_id: department.id, min_salary: params[:min_salary], max_salary: params[:max_salary], sort_order: params[:sort_order]), class: 'dropdown-item' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
  }

  .dropdown-menu {
    padding: 15px;
    transition: none; 
  }

  .dropdown-item {
    pointer-events: auto; 
  }

  .dropdown-item:hover, .dropdown-item:focus {
    background-color: #f8f9fa; 
  }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <table class="table mt-2">
        <thead style="text-align: center; vertical-align: middle;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Departamento</th>
            <th scope="col">Salário Base</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody style="text-align: center; vertical-align: middle;">
          <% @positions.each do |position| %>
            <tr class="-3">
              <th><%= position.id %></th>
              <td><%= position.name %></td>
              <td><%= position.department.name %></td>
              <td><%= number_to_currency(position.base_salary, unit: "R$", separator: ",", delimiter: ".", precision: 2) %></td>
              <% if position.status == 'active' %>
                <td><%= image_tag "ativo.png" %></td>
              <% elsif position.status == 'inactive' %>
                <td><%= image_tag "inativo.png" %></td>
              <% end %>

              <td><%= link_to (image_tag "ver.png"), position_path(position) %></td>
            
              <% if Department.find_by(id: position.department_id).status == 'active'%>
                <td>
                  <%= link_to (image_tag "editar.png"), edit_position_path(position) %>
                </td>
              <% else %>
                <td>
                  <%= image_tag "editar.png", style: "opacity: 0.5;" %>
                </td>
              <% end %>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

