<div class="container mt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-auto">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-5" role="group" aria-label="First group">
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle me-5" data-bs-toggle="dropdown" aria-expanded="false">
                Data de Contratação
            </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="#">Inicial - Final</a></li>
            <li><a class="dropdown-item" href="#">Final Inicial</a></li>
        </ul>
        </div>

        <div class="btn-group me-2 custom-margin-left" role="group" aria-label="Second group">
            <button type="button" class="btn btn-primary">
                <%= link_to "Adicionar Funcionário", new_user_path, class: "plain-link"%>
            </button>
        </div>

        <div class="btn-group" role="group" aria-label="First group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                <%= image_tag "filtro.png" %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a class="dropdown-item" href="#">Inicial - Final</a></li>
            </ul>
        </div>

      </div>
    </div>
  </div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <table class="table mt-2">
                <thead style="text-align: center; vertical-align: middle;">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome Completo</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody style="text-align: center; vertical-align: middle;">
                    <% @users.each do |user| %>
                    <tr class="-3">
                        <th><%= user.id %></th>
                        <td><%= user.full_name %></td>
                        <td><%= user.position %></td>
                        <td><%= user.phone %></td>
                        <% if user.status == 'active' %>
                            <td><%= image_tag "ativo.png" %></td>
                        <% elsif user.status == 'inactive' %>
                            <td><%= image_tag "inativo.png" %></td>
                        <% else %>
                            <td><%= image_tag "licenca.png" %></td>
                        <% end %>
                        <td><%= link_to (image_tag "ver.png"), user_path(user) %></td>
                        <td><%= link_to (image_tag "editar.png"), edit_user_path(user) %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>











