<div id="<%= dom_id department %>">
  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= department.description %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= department.code %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= department.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= department.number %>
  </p>

  <p>
    <strong>Complement:</strong>
    <%= department.complement %>
  </p>

  <p>
    <strong>District:</strong>
    <%= department.district %>
  </p>

  <p>
    <strong>City:</strong>
    <%= department.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= department.state %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= department.cep %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= department.status %>
  </p>

</div>
